.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}


.box {
    background-color: #444;
    padding: 80px;
    margin: 20px 20px;
    text-align: center;

}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

#combat {
	background-color: #780415;
}

#support {
	background-color: #4287f5;
}

#healer {
    background-color: green;
}
#stealth {
/*    background-color: green;*/
}
#debuffer {
    background-color: green;
}
#defender {
    background-color: #4287f5;
}
#demolitionist {
    background-color: #780415;
}
#perceptionist {
/*    background-color: green;*/
}
#strategist {
/*    background-color: green;*/
}
#technologist {
/*    background-color: green;*/
}