


.job-tabs {
	display: flex;
	margin-bottom: 2rem;
}


.job-tab {
	border-color: black;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	padding: 0.1rem 2rem;
}

#active-tab {
	border-bottom-width: 0px;
}

.tab-filler {
	border-bottom: 1px solid grey;
	flex: 1;
}